@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
          <!--  <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>-->
            <p>
               BMW Fan Site
            </p>
        </div>
    </section> 
}
<h3>Welcome!</h3>
<img src="~/Images/cover.png" width="100%" height="300" />
<ol class="round">
    <li class="one">
        <h5>History</h5>
        BMW AG originated with three other manufacturing companies, Rapp Motorenwerke and Bayerische Flugzeugwerke (BFw) in Bavaria, and Fahrzeugfabrik Eisenach in Thuringia. Aircraft engine manufacturer Rapp Motorenwerke became Bayerische Motorenwerke in 1916. The engine manufacturer, which built proprietary industrial engines after World War I, was then bought by the owner of BFw who then merged BFw into BMW and moved the engine works onto BFw's premises. BFw's motorcycle sideline was improved upon by BMW and became an integral part of their business.
BMW became an automobile manufacturer in 1929 when it purchased Fahrzeugfabrik Eisenach, which, at the time, built Austin Sevens under licence under the Dixi marque. BMW's team of engineers progressively developed their cars from small Seven-based cars into six-cylinder luxury cars and, in 1936, began production of the BMW 328 sports car. Aircraft engines, motorcycles, and automobiles would be BMW's main products until World War II. During the war, against the wishes of its director Franz Josef Popp, BMW concentrated on aircraft engine production, with motorcycles as a side line and automobile manufacture stopped altogether.
After the war, BMW survived by making pots, pans, and bicycles until 1948, when it restarted motorcycle production. Meanwhile, BMW's factory in Eisenach fell in the Soviet occupation zone and the Soviets restarted production of pre-war BMW motorcycles and automobiles there. This continued until 1955, after which they concentrated on cars based on pre-war DKW designs. BMW began building cars in Bavaria in 1952 with the BMW 501 luxury saloon. Sales of their luxury saloons were too small to be profitable, so BMW supplemented this with building Isettas under licence. Slow sales of luxury cars and small profit margins from microcars caused the BMW board to consider selling the operation to Daimler-Benz. However, Herbert Quandt was convinced to purchase a controlling interest in BMW and to invest in its future.
Quandt's investment, along with profits from the BMW 700, brought about the BMW New Class and BMW New Six. These new products, along with the absorption of Hans Glas GmbH, gave BMW a sure footing on which to expand. BMW grew in strength, eventually acquiring the Rover Group (most of which was later divested), and the license to build automobiles under the Rolls-Royce marque.
    </li>

    <li class="two">
        <h5>Automobiles</h5>
        BMW’s automobile history had begun much earlier than 1924, if only in the form of proposals and prototypes. Correspondence from 1918 shows the first use of the term “automobile” in BMW history, but no details are known to exist. BMW later manufactured several four-cylinder and two-cylinder engines that powered a variety of agricultural vehicles in the early 1920s. The spectrum of machinery driven across the land by BMW units ranged from single-track cars to huge farm tractors. Around 1925 two specially hired BMW designers, Max Friz and Gotthilf Dürrwächter, both former employees of Daimler-Benz in Stuttgart, were commissioned by BMW’s Managing Director Franz Josef Popp to design a BMW production car. The prototype of this design was the first car known to be made by BMW.[citation needed]
In 1928, BMW bought the Eisenach-based Dixi Automobil Werke AG from Gothaer Waggonfabrik. Dixi's sole product at the time of the purchase was the 3/15 PS, a licensed copy of the Austin 7, production of which had begun in 1927. The Dixi 3/15 became the BMW 3/15, BMW's first production car, upon the absorption of Dixi Werke into BMW.[11]
BMW designs its own cars[edit]
Towards the end of 1930, BMW attempted to introduce a new front axle with independent wheel suspension for both their models, the BMW 'Dixi' 3/15 DA4 and BMW 'Wartburg' DA3, but this resulted in accidents with the prototypes because of construction faults.[12] However, as the license with Austin would end in 1932, BMW decided upon the development of a completely new model and called in the help of German engineer Josef Ganz. He was hired as a consultant engineer at BMW in July 1931. At first, Josef Ganz negotiated with BMW about possible manufacture of his innovative rear-engined Maikäfer prototype at BMW. However, BMW decided for a different model, more along the lines of the previous Dixi model. Therefore, with the assistance of Ganz, work started on the development of the BMW AM1 (Automobilkonstruktion München 1), a small car with a front-mounted engine, rear-wheel drive, and independent wheel suspension with swing-axles.
    </li>

    <li class="three">
        <h5>BMW logo</h5>
       The name-change to Bayerische Motoren Werke compelled management to devise a new logo for the company, therefore the famous BMW trademark is designed and patented at this time. However, they remained true to the imagery of the previous Rapp Motorenwerke emblem (which was designed by Karl's brother, Ottmar Rapp). Thus, both the old and the new logo were built up in the same way: the company name was placed in a black circle, which was once again given a pictorial form by placing a symbol within it. By analogy with this, the blue and white panels of the Bavarian national flag were placed at the center of the BMW logo. Not until the late 1920s was the logo lent a new interpretation as representing a rotating propeller.[5] The BMW Trademark, called a "roundel", was submitted for registration on the rolls of the Imperial Patent Office, and registered there with no. 221388 on 10 Dec 1917
    </li>
</ol>
